.main{
	width:100%;height:450px;
	background-image:linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.1)),url('images/dog	1.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

a{
	text-decoration: none;
	color: white;
}

nav{
	background-color: rgba(0,0,0,0);
	background-position: fixed;
}

.logo{
	color: white;
}

#space{
	height: 40px;
}

#article-heading{
	text-align: center;
	font-family: cursive;
}

.article-container{
	height: 200px;
	display: flex;	
	margin-left: 200px;
	margin-right: 200px;
	justify-content: space-around;
	margin-bottom: 30px;
	flex-wrap: wrap;
	font-family: 'Zilla Slab', serif;
}	

.article-container img{
	border-radius: 10px;
}














