*{
	margin: 0;
	padding: 0;
	background-image: url('images/background-login.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	font-size: 20px;
}



.form-main{
	margin-left: 40%;
	margin-top: 200px;
	background-color: black;
	width: 250px;
}

.image{
	border-radius: 50%;
	width: 120px;
	height: 120px;
	margin-left: 50px;
}
